h1{
  text-align: center;
  font-size: 90px;
  font-family: 'Quicksand', sans-serif;
  color: #558de8
}

p1{
  font-size: 35px;
  font-family: 'Hind', sans-serif;


}

h2{
  font-size: 40px;
   color: #558de8

}

a:link {
    color: red;
}

a:visited {
    color: green;
}


a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}

body{
    background-color: #f1f954;


}


p2{
  font-size: 35px;
  font-family: 'Hind', sans-serif;


}


p3{
  font-size: 35px;
  font-family: 'Hind', sans-serif;


}


p4{
  font-size: 35px;
  font-family: 'Hind', sans-serif;


}

p5{
  font-size: 35px;
  font-family: 'Hind', sans-serif;


}

